# Ignore Visual Studio temporary files, build results, and
# user-specific files
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Build results
bin/
obj/

# NuGet Packages
*.nupkg
packages/
*.snupkg

# Others
*.log
*.tmp
*.bak

# OS-specific files
Thumbs.db
Desktop.ini

# Rider IDE
.idea/

# MacOS
.DS_Store
